.flex-container {
  display: flex;
  justify-content: flex-start;
}
.card {
    background: #fff;
    border-radius: 9px;
    display: inline-block;
    height: 575px;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 10px;
}
/*
.card-5:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/
.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 20px;
  width: 20%;
}

.card-4{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 80%;
  margin: 20px;
}
